.noteList {
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    min-height: 372px;
    max-height: 372px;
    overflow-y: scroll;
}

.noNotes__title {
    min-height: 292px;
    color: var(--Dark-Grayish-Blue);
    text-align: center;
    margin-top: 80px;
}
