@import url(../../styles/Colors.css);

.footer {
    height: 50px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: var(--Dark-Grayish-Blue);
    background-color: var(--Very-Dark-Desaturated-Blue);
    border-radius: 0 0 3px 3px;
}

.footer.light {
    background-color: var(--Very-Light-Gray);
    box-shadow: 0 10px 5px var(--Dark-Grayish-Blue);
}

.footer__sort__queries {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer p {
    cursor: pointer;
    transition: all 0.2s linear;
}

.footer p:hover {
    color: var(--Light-Grayish-Blue);
}

.footer.light p:hover {
    color: var(--Very-Dark-Grayish-Blue);
}

.query_active {
    color: var(--Bright-Blue);
}

@media screen and (max-width:500px){
    .footer {
        height: auto;
        flex-wrap: wrap;
        gap: 20px;
    }

    .footer__clear {
        margin: 0 auto;
    }
}

@media screen and (max-width:300px){
    .footer {
        height: auto;
        flex-direction: column;
        gap: 20px;
    }
}