@import url(../../styles/Colors.css);

.note {
    background-color: var(--Very-Dark-Desaturated-Blue);
    border-bottom: 1px solid var(--Dark-Grayish-Blue);
    vertical-align: middle;
    padding: 0 20px;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    top: auto !important;
    left: auto !important;
}

.note.light {
    background-color: var(--Very-Light-Gray);
}

.note:hover .note__cross__icon {
    display: block;
}

.note__content {
    margin-right: auto;
    cursor: hand;
    width: 80%;
    text-align: left;
    height: 100%;
    vertical-align: middle;
    padding: 20px 0;
}

.note__text {
    color: var(--Light-Grayish-Blue);
    margin-top: 3px;
    word-break: break-all;
}

.note__text.light {
    color: var(--Very-Dark-Grayish-Blue);
}

.note__text.done {
    color: var(--Dark-Grayish-Blue);
    text-decoration-line: line-through;
}

.note__circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--Dark-Grayish-Blue);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note__circle.done {
    background: var(--Check-Background);
}

.note__cross__icon {
    cursor: pointer;
    display: none;
}
